.homescreen-master-screen{
    min-height: 100vh;
    height: auto;
    padding: 1rem;
    background-color: #01110A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-container{
    height: 80vh;
    width: 40%;
    background-color: aliceblue;
    padding: 2rem;
    overflow: hidden;
    border-radius: 10px;
}
.wrapper{
    height: 16rem;
    width: 27rem;
    border: 1px dashed #01110A;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
.wrapper>p{
    font-size: 1.5rem;
    position: absolute;
    left:25%;
    bottom:1rem;
    font-family: sans-serif;
}
.wrapper > svg{
    height: 10rem;
    width: 10rem;
    position: absolute;
    left:30%;
    top:10%;
}
.wrapper > input{
    display: none;
}

.database-container{
    height: 80vh;
    width: 40%;
}